Repository boostcamp-2020/Project15-A-Client-Based-Formula-Editor, pull requests merged in 2020-11, with the labels that each got.

#35 Feature/#11/font dropdown
  package-lock.json
  package.json
  src/components/toolbar/FontDropDown/index.tsx
  src/index.tsx
  src/store/configure.ts
  src/store/index.ts
  src/store/modules/counter.js
  src/store/modules/font-dropdown.ts
  src/store/modules/index.js
  src/store/modules/index.ts
Labels: :large_blue_diamond:Feature, :sunny:Frontend

#39 그림판 드롭다운 구현 및 헤더파일 작성
  package-lock.json
  src/App.tsx
  src/components/common/Button/style.tsx
  src/components/common/dropdown/index.tsx
  src/components/common/dropdown/style.tsx
  src/components/common/toolbarbutton/index.tsx
  src/components/common/toolbarbutton/style.tsx
  src/components/header/index.tsx
  src/components/header/style.tsx
  src/components/toolbar/DrawerDropDown/index.tsx
  src/components/toolbar/DrawerDropDown/style.tsx
  src/components/toolbar/index.tsx
  src/components/toolbar/style.tsx
  src/index.tsx
  src/store/modules/drawerDropdown.ts
  src/store/modules/index.ts
  src/utils/colors.ts
  src/utils/global-style.ts
  src/utils/svg/decline-text.svg
  src/utils/svg/drawer.svg
  src/utils/svg/erase.svg
  src/utils/svg/logo.svg
Labels: ::cherry_blossom:: Style, :large_blue_diamond:Feature, :sunny:Frontend

#40 Feature/#16/fontColorDropdown 구현
  src/App.tsx
  src/components/toolbar/FontColorDropdown/Button.tsx
  src/components/toolbar/FontColorDropdown/DropdownContent.tsx
  src/components/toolbar/FontColorDropdown/index.tsx
  src/components/toolbar/FontColorDropdown/style.tsx
  src/store/modules/fontColorDropdown.ts
  src/store/modules/index.ts
  src/utils/svg/font-color-active.svg
  src/utils/svg/font-color.svg
Labels: ::cherry_blossom:: Style, :large_blue_diamond:Feature, :sunny:Frontend

#45 Feature/#27/수식 표현 영역 레이아웃 작성
  src/App.tsx
  src/components/mathquill/index.tsx
  src/components/mathquill/style.tsx
  src/index.tsx
Labels: :large_blue_diamond:Feature, :sunny:Frontend

#43 Feature/#13/탭 영역 브라우저에 맞게 탭 크기 조절
  src/App.tsx
  src/components/tab/TabList.tsx
  src/components/tab/index.tsx
  src/components/tab/style.tsx
  src/store/modules/index.ts
  src/store/modules/tab.ts
Labels: :large_blue_diamond:Feature, :sunny:Frontend

#46 Feature/#25,#28,#29 clear 버튼, 앞으로가기, 뒤로가기
  src/components/common/toolbarbutton/style.tsx
  src/components/toolbar/index.tsx
  src/components/toolbar/style.tsx
  src/utils/svg/back.svg
  src/utils/svg/clear.svg
  src/utils/svg/forward.svg
Labels: ::cherry_blossom:: Style, :large_blue_diamond:Feature, :sunny:Frontend

#47 feat: 데모를 위한 전체 레이아웃 작성
  src/App.tsx
  src/components/mathquill/style.tsx
  src/components/tab/style.tsx
  src/style.ts
  src/utils/global-style.ts
Labels: :large_blue_diamond:Feature, :sunny:Frontend

#49 레이아웃 버그 수정
  src/App.tsx
  src/components/common/Button/index.tsx
  src/components/common/toolbarbutton/style.tsx
  src/components/mathquill/index.tsx
  src/components/tab/TabList.tsx
  src/components/tab/index.tsx
  src/components/toolbar/FontColorDropdown/style.tsx
  src/components/toolbar/FontDropDown/FontButton.tsx
  src/components/toolbar/FontDropDown/FontContent.tsx
  src/components/toolbar/FontDropDown/style.tsx
  src/components/toolbar/index.tsx
  src/index.tsx
  src/utils/svg/footer/.txt
  src/utils/svg/header/.txt
  src/utils/svg/leftsection/.txt
  src/utils/svg/rightsection/.txt
  src/utils/svg/toolbar/.txt
  src/views/.txt
Labels: ::cherry_blossom:: Style, :field_hockey: Fix, :sunny:Frontend

#51 Feature/layout for demo
  src/components/common/Button/style.tsx
  src/components/common/toolbarbutton/style.tsx
  src/components/header/index.tsx
  src/components/header/style.tsx
  src/components/toolbar/FontDropDown/style.tsx
  src/components/toolbar/index.tsx
  src/components/toolbar/style.tsx
  src/style.ts
  src/utils/svg/new-back.svg
  src/utils/svg/new-clear.svg
  src/utils/svg/new-drawer.svg
  src/utils/svg/new-forward.svg
Labels: ::cherry_blossom:: Style, :sunny:Frontend

#50 feature/#8/title, 수식, 템플릿 전체 레이아웃 html 작성(기호와 resizing은 아직 넣지 않았습니다.)
  src/MainPage.tsx
  src/components/common/title/index.tsx
  src/components/common/title/style.tsx
  src/components/leftsection/inputSelectionSection/InputBottomSelectionSection.tsx
  src/components/leftsection/inputSelectionSection/InputTopSelectionSection.tsx
  src/components/leftsection/inputSelectionSection/index.tsx
  src/components/leftsection/inputSelectionSection/style.tsx
  src/components/leftsection/mathSection/index.tsx
  src/components/leftsection/mathSection/style.tsx
  src/components/leftsection/templateSection/index.tsx
  src/components/leftsection/templateSection/style.tsx
  src/index.tsx
  src/style.ts
  src/utils/svg/leftsection/inputselection/multiply.svg
  src/utils/svg/leftsection/inputselection/root.svg
Labels: ::cherry_blossom:: Style, :hammer:Refactor, :large_blue_diamond:Feature, :sunny:Frontend

#53 feat: 그래프 버튼, toggle 기능 구현
  src/MainPage.tsx
  src/components/index.tsx
  src/components/style.ts
  src/components/toolbar/GraphButton/Button.tsx
  src/components/toolbar/GraphButton/index.tsx
  src/components/toolbar/GraphButton/style.tsx
  src/components/toolbar/index.tsx
  src/store/modules/graph.ts
  src/store/modules/index.ts
  src/utils/svg/graph.svg
Labels: :large_blue_diamond:Feature, :sunny:Frontend

#55 Feature/toolbar
  src/components/common/Button/style.tsx
  src/components/common/RoundButton/style.tsx
  src/components/common/toolbarbutton/style.tsx
  src/components/header/HeaderTitle.tsx
  src/components/header/index.tsx
  src/components/header/style.tsx
  src/components/tab/style.tsx
  src/components/toolbar/FontColorDropdown/Button.tsx
  src/components/toolbar/FontColorDropdown/style.tsx
  src/components/toolbar/FontDropDown/FontButton.tsx
  src/components/toolbar/FontDropDown/index.tsx
  src/components/toolbar/FontDropDown/style.tsx
  src/components/toolbar/index.tsx
  src/components/toolbar/style.tsx
  src/store/modules/font-dropdown.ts
  src/style.ts
  src/utils/colors.ts
  src/utils/svg/background/background_icon.svg
  src/utils/svg/decline-text.svg
  src/utils/svg/drawer.svg
  src/utils/svg/font-color-active.svg
  src/utils/svg/font-color.svg
  src/utils/svg/font-fold.svg
  src/utils/svg/font-open.svg
  src/utils/svg/logo.svg
  src/utils/svg/new-drawer.svg
Labels: :sunny:Frontend, :umbrella: Modify

#60 그래프 버튼 RoundButton 스타일 컴포넌트 적용
  src/components/Toolbar/GraphButton/style.tsx
  src/components/Toolbar/index.tsx
  src/utils/svg/toolbar/graph.svg
Labels: ::cherry_blossom:: Style, :sunny:Frontend
